// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/fonts-raleway/scss/raleway.scss";
// endbower

//COLORS
$color1: #262121;
$color2: #1C1919;
$color3: #121011; 
$amarelo: #d1d942;
$branco: #fafafa;
$ff: 'Josefin Sans', sans-serif;
//MIXINS
@mixin img(){
  display: block;
  font-size: 13px;
  line-height: 24px;
  width: 100%;
  height: auto; 
}
@mixin title($color){
  font-family: $ff;
  font-size: 26px;
  color: $color;
  @media screen and(min-width: 769px){
    font-size: 48px;
  }
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  &::after{
    content: '';
    display: block;
    height: 3px;
    width: 50px;
    background: currentColor;
    margin: 10px auto 30px;
  }
}
/* Space out content a bit */
body {
  font-size: 16px;
  font-family: $ff;
  @media screen and(max-width: 768px){
    margin-bottom: 40px;
  }
}
.slider{
  padding-top: 92px;
  color: $branco;
  .slide{
    height: calc( 100vh - 92px);
    background-color: $color3;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,.5);
    .content{
      padding: 250px 0;
      @media (max-width: 768px){
        padding: 100px 0;
      }
      h1{
        text-transform: uppercase;
        &::after{
          content: '';
          display: block;
          height: 3px;
          width: 50px;
          background: $branco;
          margin: 10px auto 30px;
        }
      }
      max-width: 768px;
      text-align: center;
      display: block;
      margin: 0 auto;
    }
  }
  .slick-arrow{
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 99;
    top: 50%;
    color: #de3a00;
    font-size: 2em;
    text-shadow: 1px 2px 3px #333;
  }
  .arrow-right{
    background-image: url('../images/arrow-right.png');
    background-size: cover;
    right: 25px;
    @media screen and (max-width: 480px){
      right: 5px;
    }
  }
  .arrow-left{
    left: 25px;
    background-image: url('../images/arrow-left.png');
    background-size: cover;
    @media screen and (max-width: 480px){
      left: 5px;
    }
  }
}
header{
  display: block;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 115;
}
.header{
  background-color: $color2;
  padding: 15px;
  display: flex;
  color: $branco; 
  &>div{
    align-self: center;
  }
  p{
    margin: 0;
  }
  .logo{
    img{
      @media (max-width: 768px){
        display: block;
        margin: 0 auto;
      }
    }
  }
}
.fachada{
  img{
    @include img();
  }
}
.btn-vernazza{
  background-color: #de3a00;
  border-radius: none;
  padding: 5px 15px;
  text-transform: uppercase;
}
.sua-casa{
  background-color: $color2;
  padding: 2em 0;
  @media (max-width: 768px){
    text-align: center;
  }
  h2{
     @include title($amarelo);
     margin-bottom: 1.5em
  }
  img{
    @include img();
  }
  h3{
    margin: 0;
    padding: 0;
    line-height: 1.4;
    color: $branco;
  }
  p{
    margin-top: 1em;
    color: $branco;
    @media screen and (min-width: 1024px){
      font-size: 1.125em;
      margin: 3em auto;
    }
  }
}
.infra{
  background-color: $branco;
  padding: 2em 0;
  h2{
     @include title($color3)
  }
  img{
    @include img();
    margin-top: 1em;
  }
  p{
    margin-top: 1em;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    max-width: 760px;
    display: block;
    margin: 0 auto;
    @media screen and (min-width: 1024px){
      font-size: 18px;
      margin: 4em auto;
    }
  }
}
.planta{
  padding: 2em 0;
  background-color: $color3;
  h2{
    @include title($amarelo)
  }
  img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
.localizacao{
  padding: 2em 0;
  background-color: $branco;
  .mapabg{
    background-image: url("../images/mapa.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    @media screen and (max-width: 480px){
      height: 50vh;
    }
  }
  h2{
     @include title($color3)
  }
  img{
    @include img();
    margin-top: 1em;
  }
  p{
    margin-top: 1em;
    text-transform: uppercase;
    max-width: 960px;
    display: block;
    margin: 0 auto;
    @media screen and (min-width: 1024px){
      font-size: 18px;
      margin: 4em auto;
    }
    span{
      display: block;
      text-align: center;
      color: $color1;
    }
    &.fz26{ 
      font-size: 22px;
      margin-bottom: 20px;
    }
  }
}
.contato{
  background-color: $color2;
  text-align: center;
  padding: 2em 0;
  p{
    margin-top: 1em;
    text-transform: uppercase;
    color: $branco;
    font-size: 15px;
    max-width: 960px;
    display: block;
    margin: 0 auto;
    @media screen and (min-width: 1024px){
      font-size: 18px;
      margin: 0 auto 2em;
    }
  }
  h2{
    @include title($amarelo)
  }
  form{

    input, textarea{
      border: 0;
      text-transform: uppercase;
      display: block;
      margin: 10px auto;
      padding: 10px;
      font-size: 12px;
      width: 100%;
      @media screen and(min-width: 1024px){
        width: 60%;
        margin: 10px auto;
      }
    }
    textarea{
      resize: none;
    }
    input[type="submit"]{
      background-color: $amarelo;
      border-radius: none;
      padding: 10px 15px;
      text-transform: uppercase;
      width: auto;
      color: $color3;
      border: 0;
      border-radius: 0;
      font-weight: bold;
      cursor: pointer;
      @media screen and (min-width: 1024px){
        font-size: 24px;
        padding: 15px 30px;
      }
    }
  }
}
.menu-topo{
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    li{
      flex: 1 1 auto;
      align-self: center;
      a{
        color: $branco;
        display: block;
        text-align: center;
        text-decoration: none;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
.menu{
  background-color: $color3;
  position: fixed;
  z-index: 100;
  @media screen and (max-width: 768px){
    bottom: 0;
    left: 0;
    width: 100%;
  }
  @media screen and (min-width: 769px){
    right: 0;
    top: 25%;
    display: none;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    @media screen and (max-width: 768px){
      display: flex;
    }
    @media screen and (min-width: 769px){
      display: block;
    }
    li{
      @media screen and (max-width: 768px){
        flex: 1 1 calc(100%/3);
        border-right: 1px solid $color1;
        &:last-child{
          border-right: 0;
        }
      }
      @media screen and (min-width: 769px){
        border-top: 1px solid $color3;
        &:first-child{
          border-top: 0;
        }
      }

      a{
        display: block;
        padding: 10px 0;
        color: $branco;
        text-align: center;
      }
      button{
        display: block;
        margin: 3px auto 0;
      }
    }
  }
}
.incorporacao{
  background-color: #FFF;
  text-align: center;
  padding: 2em 0;
  h3{
    @include title(#000);
    font-weight: normal;
    font-size: 18px;
    padding: 10px;
  }
  img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
button:focus {
    outline: none;
}
.menu-suspenso{
    background-color: $color3;
    position: absolute;
    display: none;
    transition: all .4s linear;
    &.open {
        display: block;
        @media screen and (max-width: 768px) {
            padding: 0;
        }
    }
    @media screen and(max-width: 768px){
      width: 100%;
      bottom: 64px;
      left: 0;
    }
    @media screen and(min-width: 769px){
      right: 75px;
      top: 0;
    }
    a{
      font-weight: 500;
      text-align: center;
      flex: 1 1 100%;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      color: #000;
      &:hover {
          color: #000;
          text-decoration: none;
          &::after, &::before {
              opacity: 1;
          }
      }
      @media screen and(max-width: 768px){
        padding: 5px 0;
      }
      @media screen and(min-width: 769px){
        padding: 20px !important;
      }
    }
}
.slider-fit{
  img{
    width: 100%;
    height: auto;
  }
}
